.red {
  color: var(--color_red);
}

.error {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  margin-top: 4px;
}

/* page */
.page_container {
  padding: 70px 90px 0 90px;
}

/* table */
.table-icon-box {
  display: flex;
  gap: 4px;
}

.table-icon {
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color_blue);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-icon svg {
  font-size: 16px;
}

.table-icon:hover {
  opacity: 0.8;
}

.edit-icon {
  color: var(--color_blue);
}
.delete-icon {
  color: var(--color_red);
}

.buttonBox {
  display: flex;
  gap: 10px;
  justify-content: end;
  padding: 15px 20px;
}
