body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

:root {
  --color_black: #000000;
  --color_black1: #141414;
  --color_black2: #333;
  --color_black3: #666;
  --color_black4: #ddd;
  --color_white: #fff;
  --color_green: #278a7c;
  --color_green1: #3fad5e;
  --color_green2: #36d1dc;
  --color_blue: #000b58;
  --color_blue1: #0f1f98;
  --color_blue2: #0a5eb0;
  --color_blue3: #3f88f6;
  --color_blue4: #0d92f4;
  --color_red: #ff0000;
  --color_purple: #4953a2;
  --color_orange: #ffb200;
  --color_yellow: #ffd700;
  --color_yellow1: #fde7bb;
}

a {
  text-decoration: none;
  color: var(--color_blue1);
}

ul {
  list-style: none;
  margin: 0;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a,
button {
  cursor: pointer;
}

button:focus,
button:focus-visible {
  outline: none;
}

a,
p,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
